body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.background-blur {
    background-color: #4c7c8e;
    height: 100%;
    filter: blur(7px);
    position: absolute;
    width: 100%;
}

.buyer-main-container {
    width: 30vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    justify-content: center;
    position: relative;
    top: 100px;
}


.signup-header {
    text-align: center;
    background-image: linear-gradient(to right, #748093, #4c7c8e, #267876, #2e6f4d, #4d611f);
    padding: 10px;
    font-size: 20px;
    margin: 0px;
}

.buyer-field-main-div {
    background-color: whitesmoke;
}

.buyer-field-main-div>h3 {
    padding-left: 10px;
    font-style: italic;
    font-size: 18px;
    margin: 10px;
}

.buyer-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.buyer-field>label {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
}

.buyer-field>input {
    padding: 6px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    background-color: white;
}

.signup-button {
    background-color: #9CD4AC;
    align-items: center;
    justify-content: center;
    width: 10vw;
    justify-content: center;
    padding: 6px;
    margin: 5px;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 100px;
    margin-left: 30%;
}

/* MEDIA QUERY */
@media (min-width: 300px) and (max-width: 600px) {
    .buyer-main-container {
        width: 96vw;
        margin-left: 0px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 10px;
    }

    .signup-button {
        width: 40vw;
    }
}

@media (min-width:600px) and (max-width:800px) {
    .buyer-main-container {
        width: 60vw;
        margin-left: 0px;
        margin: 10px;
        margin-left: 19%;
        margin-top: 20%;
    }

    .signup-button {
        width: 24vw;
        margin-left: 30%;
    }
}

@media (min-width:800px) and (max-width:1200px) {
    .buyer-main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        margin-top: 36%;
    }

    .signup-button {
        width: 20vw;
        margin-left: 30%;
    }
}